.outerbox {
  height: 80vh;
  width: 70vw;
  background-color: rgb(50, 83, 182);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horz {
  height: 40%;
  width: 80%;
  margin: auto;
  background-color: seagreen;
  display: flex;
  justify-content: space-around;
}

.vert {
  height: 90%;
  width: 45%;
  margin: auto;
  background-color: rgb(212, 201, 201);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.upperleftvert:hover {
  background-color: rgb(50, 83, 182);
  transition: 200ms;
}

.lowerleftvert {
  display: flex;
  justify-content: flex-start;
}
.animationClass {
  animation-name: animationx;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes animationx {
  0% {
    background-color: red;
    width: 0%;
  }
  25% {
    background-color: yellow;
    width: 6%;
  }
  50% {
    background-color: blue;
    width: 12%;
  }
  75% {
    background-color: green;
    width: 37%;
  }
  100% {
    background-color: red;
    width: 45%;
  }
}
.HideLabel {
  visibility: hidden;
}
.ShowLabel {
  visibility: visible;
}
